<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<meta charset="UTF-8">
<title th:text="${titrePage}"></title>
</head>
<body>
	<h1 th:text="${titrePage}">Liste des lignes :</h1>
	<table>
    <thead>
        <tr>
            <th> Ligne </th>
            <th> Gares </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${lignes.empty}">
            <td colspan="2"> Aucune ligne n'est disponible </td>
        </tr>
        <tr th:each="ligne : ${lignes}">
            <td><span th:text="${ligne.nom}"> Ligne </span></td>
            <td>
            	<ul>
            		<li th:each="desserte : ${ligne.dessertes}"><span th:text="${desserte.gare.nom +'-'+ desserte.rang}"></span></li>
            	</ul>
            </td>
            <td>
            	<a th:href="@{'/ligne/update/'+${ligne.id}}" th:text="Modifier">Modifier</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>